package icon 

import (
    twmerge "github.com/Oudwins/tailwind-merge-go/pkg/twmerge"
)

var M = twmerge.Merge

type Props struct {
	Name  string
	Class string
	Attrs templ.Attributes
}

templ Wrapper(props Props) {
	<div
		class={ M("h-4 w-4", props.Class) }
		{ props.Attrs... }
	>
		{ children... }
	</div>
}
