package icon

templ RiichiBo(){
    <div class="border border-background w-[5em] h[1em] rounded-[0.5em] flex justify-center items-center rotate-[-30deg] bg-foreground translate-y-[1em]">
        <div class="w-[0.5em] h-[0.5em] bg-eRed rounded-full"> </div>
    </div>
}

