package dummyTemplates

import ()

templ Dummy() {
	<div hx-ext="sse" sse-connect="/mahjong/room/2428/state" sse-swap="data">
	</div>
}

//empty div
templ InitialRes() {
    <div></div>
}

templ Update(num string) {
    <div>{num}</div>
}
