package templates 

templ header() {
	<head>
		<title> bruh </title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="static/htmx.min.js"></script>
		<link rel="stylesheet" href="static/style.css"/>
	</head>
	<body>
		{ children... }
	</body>
}

templ Layout(name string, T func(string) string) {
	@header() {
		<div class="bg-yellow-500">{ T("go_watch") } { T(name) }</div>
	}
}
