package mahjongTemplates

import (
	"fmt"
	"github.com/JosunHK/josun-go.git/web/templates/components/ui/button"
	"github.com/JosunHK/josun-go.git/web/templates/components/ui/card"
	"github.com/JosunHK/josun-go.git/web/templates/components/ui/dialog"
	"github.com/JosunHK/josun-go.git/web/templates/components/ui/label"
	"github.com/gungun974/gocva"
)

type Player struct {
	name string
}

var players = []Player{
	{name: "Ger Ger"},
	{name: "GC"},
	{name: "A Ho"},
	{name: "Meat"},
}

func getPlayerColor(i int) string {
	switch i {
	case 0:
		return "border-l-eRed"
	case 1:
		return "border-l-eOrange"
	case 2:
		return "border-l-eYellow"
	case 3:
		return "border-l-eGreen"
	default:
		return "border-l-eRed"
	}
}

templ Test() {
	@dialog.WithDialog(dialog.Props{
		Class: "w-full h-full flex flex-col",
	}) {
		<div
			Class="w-full h-full flex flex-col"
			x-data="{
                player0: {
                    name: '',
                    score: 25000,
                    counter: new countUp.CountUp('player0', 0, {duration: 1}),
                },
                player1: {
                    name: '',
                    score: 25000,
                    counter: new countUp.CountUp('player1', 0, {duration: 1}),
                },
                player2: {
                    name: '',
                    score: 25000,
                    counter: new countUp.CountUp('player2', 0, {duration: 1}),
                },
                player3: {
                    name: '',
                    score: 25000,
                    counter: new countUp.CountUp('player3', 0, {duration: 1}),
                },
                dialogPlayer: null,
                setDialogPlayer: function(player) {
                    this.dialogPlayer = player;
                },
            }"
		>
			@ScoreDialog()
			@Update()
			<div class="h-auto flex justify-center items-center grow">
				@ScoreDisplay()
			</div>
		</div>
	}
}

templ Update() {
	<x-script
		x-init="$nextTick(() => { player1.score = -2000})"
	></x-script>
}

templ ScoreDisplay() {
	<div
		class="px-4 flex flex-col gap-4"
	>
		for i, player := range players {
			@playerCard(i, player)
		}
	</div>
}

templ playerCard(i int, player Player) {
	@card.Card(card.Props{
		Class: fmt.Sprintf("drop-shadow-md border-l-8 %s", getPlayerColor(i)),
		Attrs: templ.Attributes{
			"@click": fmt.Sprintf("dialogToggle();setDialogPlayer(player%d);", i),
			"x-init": fmt.Sprintf("player%d.name = '%s'", i, player.name),
		},
	}) {
		@label.Label(label.Props{
			Class: "text-[2rem] pl-4 text-muted-foreground",
			Attrs: templ.Attributes{},
		}) {
			{ player.name }
		}
		@label.Label(label.Props{
			Class: "text-[4rem] pl-4",
            Attrs: templ.Attributes{
                ":class": fmt.Sprintf("player%d.score < 0 ? 'text-eRed' : ''", i),
            },
		}) {
			<div
				id={ fmt.Sprintf("player%d", i) }
				x-init={ fmt.Sprintf("player%d.counter.start();player%d.counter.update(player%d.score)", i, i, i) }
				x-effect={ fmt.Sprintf("player%d.counter.update(player%d.score)", i, i) }
			></div>
		}
	}
}

templ ScoreDialog() {
	@dialog.Dialog(dialog.Props{}) {
		@card.Card(card.Props{
			Class: "w-[400px]",
		}) {
			@card.Header(card.Props{}) {
				@card.Title(card.Props{
					Attrs: templ.Attributes{
						"x-text": "dialogPlayer? dialogPlayer.name : ''",
					},
				}) {
				}
			}
			@card.Content(card.Props{}) {
				Content
			}
			<div class="p-2 flex flex-row justify-end w-full">
				@button.Button(button.Props{
					Class: "w-min",
					Attrs: templ.Attributes{
						"@click": "dialogToggle($el);dialogPlayer.score += 1000;",
					},
					Variant: gocva.Variant{
						"variant": "default",
					},
				}) {
					Confirm 
				}
			</div>
		}
	}
}
